

html {
  scroll-behavior: smooth; 
}

h1{
  margin: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
  margin: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
  margin: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4{
  margin: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  margin: 25px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  background-color: rgb(146, 206, 247);
  padding: 10px;
}

.navbar a {
  color: black;
  /* Top/bottom and left/right padding */
  padding: 20px 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold; 
  cursor: pointer;
}

.nav-btn {
  background-color: rgb(173, 217, 250); 
  color: black;
  margin: 35px;
  width: 100px;
  max-height:30px;
  font-size: 15px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

#hiddenText {
  display: none; /* Start hidden */
  margin-top: 10px;
  margin-left: 55px;
  margin-bottom: 50px;
}

.btn{
  padding:10px;
  margin: 25px;
  background-color: rgb(173, 217, 250);
  color: black;
}

#container3 .index {
  font-size: 25px;
  position: flex;
  font-family: Arial, Helvetica, sans-serif;
  /* Transfers origin */
  -webkit-transform-origin: -45% 50%;
          transform-origin: -45% 50%;
  /* Shifts the index translates and rotates for better centering */
  transform: translate(-20%, -90%) rotate(10deg);
}


#container4 .index {
  font-size: 25px;
  position: flex;
  font-family: Arial, Helvetica, sans-serif;
  /* Transfers origin */
  -webkit-transform-origin: -45% 50%;
          transform-origin: -45% 50%;
  /* Shifts the index translates and rotates for better centering */
  transform: translate(-20%, -90%) rotate(10deg);
}

#container1 .char{
  -webkit-transform-origin: -45% 50%;
          transform-origin: -45% 50%;
  transform: rotate(15deg);
}

#container1_1 .char{
  -webkit-transform-origin: -45% 50%;
          transform-origin: -45% 50%;
  transform: rotate(15deg);
}

#container2 .index {
  font-size: 15px;
  position: flex;
  font-family: Arial, Helvetica, sans-serif;
  /* Transfers origin */
  -webkit-transform-origin: -55% 50%;
          transform-origin: -55% 50%;
  /* Shifts the index translates and rotates for better centering */
  transform: translate(-20%, -90%) rotate(10deg);
}

.container{
  /* Allows vertical scrolling on overflow */
    overflow-y: auto;
    display: flex;
    /* Stack wheels vertically */
    flex-direction: column; 
    align-items: center;
    gap: 50px;
        
}


/* Styling for each wheel and its surrounding elements */
.wheel-wrapper {
  display: grid;
  grid-template-areas:
      "textarea1 wheel textarea2"
      "textarea3 wheel textarea4";
  grid-template-columns: 1fr 750px 1fr; /* Columns for text boxes and wheel */
  grid-template-rows: auto auto; /* Two rows for text boxes */
  gap: 20px; /* Spacing between text boxes and the wheel */
  position: relative;
}

/* Assigning grid areas to text boxes */
textarea#inputText1 { grid-area: textarea1; }
textarea#outputText1 { grid-area: textarea2; }
textarea#inputText2 { grid-area: textarea3; }
textarea#userOutputText1 { grid-area: textarea4; }

textarea#inputText3 { grid-area: textarea1; }
textarea#outputText2 { grid-area: textarea2; }
textarea#inputText4 { grid-area: textarea3; }
textarea#userOutputText2 { grid-area: textarea4; }


.container .outer-wheel {
    /* Size of the wheel */
    width: 750px;
    height: 750px;
    /* This makes the wheel circular */
    border-radius: 100%;
    background-color: rgb(0, 191, 255);
  /* background-image: radial-gradient(circle at 91% 26%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 27% 63%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 59% 48%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 58% 65%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 55% 21%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 88% 4%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 9% 23%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 40% 78%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 78% 5%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 11% 87%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 11% 24%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 18% 75%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 71% 80%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 34% 79%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 9% 51%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 46% 69%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 54% 90%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 55% 58%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 95% 37%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 9% 4%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 5%,transparent 5%, transparent 100%),linear-gradient(135deg, rgb(249, 93, 202),rgb(11, 13, 179)); */
    left: 50%;
    top: 50%;
    /* Webkit supports compatibility with older versions of Webkit-based browsers */
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    border: 4px solid black;
    /* Any parts that is overflowing is hidden */
    overflow: hidden;
  }
  
  .container .outer-wheel .slice {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
  }
  
  .container .outer-wheel li {
    position: absolute;
    top: -50%;
    right: -50%;
    width: 100%;
    height: 100%;
     -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%; 
    overflow: hidden;
    /* Creates line between segments */
    border-left: 1px solid #000;
    display: flex;
    align-items: center;
  }
  
  .container .outer-wheel li .char {
    position: absolute;
    top: 55%;
    -webkit-transform: rotate(7.2deg);
            transform: rotate(7.2deg);
  }
  
  .container .outer-wheel li .char p {
    letter-spacing: 20px;
    width: 100px;
    text-align: center;
    font-size: 3.25em;
    font-weight: 500;
    -webkit-transform: skewY(-162deg);
            transform: skewY(-162deg);
  }

  .container .outer-wheel li .index {
    position: absolute;
    top: 63%;
    left: 4%;
    -webkit-transform: rotate(7.2deg);
            transform: rotate(7.2deg);
  }
  
  .container .outer-wheel li .index p {
    letter-spacing: 20px;
    width: 100px;
    text-align: center;
    font-size: 3.25em;
    font-weight: 500;
    -webkit-transform: skewY(-162deg);
            transform: skewY(-162deg);
  }

  .char {
    position: relative;
    /* Places characters on top */
    z-index: 1; 
    /* Horizontally aligns it in the center */
    text-align: center;
    font-size: 1.2rem;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    letter-spacing: 20px;
    width: 100px;
    font-size: 2em;
  } 


.container .outer-wheel li:nth-child(i) {
    -webkit-transform: rotate(((26/360)*i)deg) skewY(162deg);
            transform: rotate(0deg) skewY(162deg);
}


  .hide-wheel {
    width: 500px;
    height: 500px;
    /* Makes it a circle */
    border-radius: 100%;
    background-color: #f0f8ff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    /* -webkit-transition: 1s all;
    transition: 1s all;*/
  } 
  
  .inner-wheel {
    /* Gives a spinning effect to the Inner Wheel */  
    -webkit-transition: all 1s;
    transition: all 1s;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    position: absolute;
    /* Of the container block */
    left: 50%;
    top: 50%;
  
    background: #d3d2d2;
  
    /* Centers within container */
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 4px solid black;
    overflow: hidden;
  }

  /* It doesn't seem necessary to have this */
  /* .inner-wheel .scroll {
    overflow: visible;
    display: block;
    position: absolute;
    left: 50%;
    top: 500%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: red;
    font-size: 12;
    height: 100px;
    width: 100px;
    background-attachment: black;
    z-index: 400;
  } */
  
  .inner-wheel .slice {
    position: absolute;
    left: -100%;
    top: -100%;
    width: 200%;
    height: 200%;
  }
  
  .inner-wheel li {
    position: absolute;
    /* Moves li 50% of its parent’s height upward */
    top: -50%;
    /* Shift li to the left by 50% of its width relative to their parent */
    right: -50%;
    width: 100%;
    height: 100%;
    /* Shifts the center of rotation to bottom left corner */
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    overflow: hidden;
    border-left: 1px solid #000;
  }
  
  /* Styling for char content */
  .inner-wheel li .char {
    position: absolute;
    top: 55%;
    left: -3%;
    text-align: center;
    -webkit-transform: rotate(7.2deg);
            transform: rotate(7.2deg);
  }
  
  /* Specific text inside char elements */
  .inner-wheel li .char p {
    letter-spacing: 10px;
    width: 60px;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
   /* -webkit-transform: skewY(-162deg); 
            transform: skewY(-162deg); */
  }

  .inner-wheel li .index {
    position: absolute;
    bottom: 27%;
    left: 3%; 
    text-align: center;
    -webkit-transform: rotate(7.2deg);
            transform: rotate(7.2deg);
  }
  
  .inner-wheel li .index p {
    letter-spacing: 10px;
    width: 60px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    -webkit-transform: skewY(-162deg);
            transform: skewY(-162deg);
  }

/*
  .index {
    font-size: 0.8rem;
    color: black;
    text-align: center;
    position: relative;
    z-index: 1;  文字が slice の上に表示されるように
    margin-top: 2.5px;
  } */


  .center-wheel {
    /* Also don't need probably -webkit-transition: all 0s;
    transition: all 0s; */
    position: absolute;
    left: 50%;
    top: 50%;
    /* Puts the Center Wheel in the center initially */
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    /* I don't think we need this but just in casebackground-color: rgb(0, 191, 255);
    background-color: #faf0e6; */
    background-color: #2c2c2c;
    z-index: 1001;
    border: 2px solid #000;
  }
  
  .key-info {
    width: 400px;
    font-size: 0.75em;
    /* -webkit-transition: all 0s; */
    /* transition: all 0s; */
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .key-info h1 {
    font-weight: 500;
      color: white;
  }
  
  .key-info .key {
    /* -webkit-transition: all 0s; */
    transition: all 0s;
    text-align: center;
    width: 100px;
    font-size: 1.6em;
    height: 50px;
    padding-left: 10px;
    margin-top:4px;
    /* Round corners of the box */
    border-radius:8px;
  }
  
  /* This is to hover the inner wheel but it is probably unnecessary */
  /* .inner-wheel:hover {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
  } */
  
  /* This is for accessibility for other devices tablets and mobiles respectively */
  @media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .container .outer-wheel,
    .container .hide-wheel,
    .container .inner-wheel,
    .container .key-info {
      -webkit-transform: translate(-50%, -50%) scale(0.75);
              transform: translate(-50%, -50%) scale(0.75);
      left: 50%;
      top: 40%;
    }
    /* .inner-wheel:hover {
      -webkit-transform: translate(-50%, -50%) scale(0.75);
              transform: translate(-50%, -50%) scale(0.75);
    } */
  }

  @media only screen and (min-device-width: 1px) and (max-device-width: 480px) {
      .container .outer-wheel,
      .container .hide-wheel,
      .container .inner-wheel,
      .container .key-info {
        -webkit-transform: translate(-50%, -50%) scale(0.45);
                transform: translate(-50%, -50%) scale(0.45);
        left: 50%;
        top: 40%;
      }
  }

  textarea {
    width: 300px;
    height: 100px;
    margin: 10px;
    font-size: 1.2em;
    font: sans-serif;
}

/* User input textarea 2 */
.fixed-input-copy {
    position: absolute; 
    bottom: 10px;  
    width: 300px;
    height: 200px;
    margin: 10px;  
    font-size: 1.6em;
    font: sans-serif;
}

/* User Encipher guessing textbox (2) */
.userEncryptText{
    position: absolute; 
    bottom: 10px;  
    width: 300px;
    height: 200px;
    margin: 10px;  
    font-size: 1.6em;
    font: sans-serif;
}

.innerHighlight {
    background-color: red;
    font-weight: bold;
  }

.outerHighlight {
  background-color: yellow;
  font-weight: bold;
}  
 

/* Button Style */
/* button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
} */


/* Not sure why there is a navigation bar */
/* Navigation Bar */
/* item to display horizontally */
/* .navbar {
  display: flex; 
  background-color: #000000;
}

.navbar li {
  margin-left: 1em;
  margin-right: 1em;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/* Highlight on hover
.navbar a:hover {
  color: #6df9f9;
}

ul{
  list-style-type: none;
} */